<div class="tochuc-page">
  <!-- List Component -->
  <app-tochuc-list
    [viewMode]="viewMode"
    [treeTableData]="treeTableData"
    [treeData]="treeData"
    [columns]="columns"
    [actions]="actions"
    [loading]="loading"
    (viewModeChange)="switchView($event)"
    (createClick)="openCreateDrawer()"
    (treeNodeClick)="onTreeNodeClick($event)"
  />

  <!-- Drawer for Create/Edit/View -->
  <nz-drawer
    [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle"
    [nzWidth]="720"
    [nzClosable]="true"
    (nzOnClose)="onDrawerClose()"
  >
    <ng-container *nzDrawerContent>
      <!-- View Mode -->
      @if (drawerMode === 'view' && selectedToChuc) {
        <app-tochuc-view
          [toChuc]="selectedToChuc"
          [parentName]="getParentName(selectedToChuc.IdToChucCapTren)"
          (close)="onDrawerClose()"
          (edit)="edit($event)"
        />
      }

      <!-- Create/Edit Mode -->
      @if (drawerMode === 'create' || drawerMode === 'edit') {
        <app-tochuc-form
          [mode]="drawerMode"
          [toChuc]="selectedToChuc"
          [treeData]="treeData"
          (submit)="onFormSubmit($event)"
          (cancel)="onDrawerClose()"
        />
      }
    </ng-container>
  </nz-drawer>
</div>
