<nz-layout class="app-layout">
  <!-- Sidebar -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [nzCollapsed]="isCollapsed()"
    [nzTrigger]="null">
    <!-- Logo -->
    <div class="sidebar-logo">
      <a href="/" [class.collapsed]="isCollapsed()">
        <img src="/logo.png" alt="IDAS Logo" />
        @if (!isCollapsed()) {
        <h1>IDAS</h1>
        }
      </a>
    </div>

    <app-layout-sidebar [isCollapsed]="isCollapsed()" [menuItems]="menuItems" />
  </nz-sider>

  <!-- Main Layout -->
  <nz-layout>
    <!-- Header -->
    <app-layout-header [menuIcon]="menuIcon()" (toggleMenu)="toggleCollapsed()" />

    <!-- Content -->
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <!-- Footer -->
    <app-layout-footer />
  </nz-layout>
</nz-layout>