<nz-form-item>
  @if (label && mode === 'group') {
    <nz-form-label [nzRequired]="required">{{ label }}</nz-form-label>
  }
  <nz-form-control 
    [nzErrorTip]="errorTip"
    [nzValidateStatus]="validateStatus"
  >
    @if (mode === 'single') {
      <label
        nz-checkbox
        [nzDisabled]="disabled"
        [(ngModel)]="value"
        (ngModelChange)="onValueChange($event)"
      >
        {{ label }}
      </label>
    } @else {
      <nz-checkbox-group
        [(ngModel)]="value"
        (ngModelChange)="onValueChange($event)"
      >
        @for (option of options; track option.value) {
          <label
            nz-checkbox
            [nzValue]="option.value"
            [nzDisabled]="option.disabled || disabled"
          >
            {{ option.label }}
          </label>
        }
      </nz-checkbox-group>
    }
  </nz-form-control>
</nz-form-item>
